{% extends "base.html" %}

{% load static %}  <!-- Untuk mengakses file statis -->

{% block meta %}
<title>LiteraSea</title>
{% endblock meta %}

{% block content %}
<div class="relative">
    <!-- Gambar Background -->
    <img src="{% static 'image/header.png' %}" alt="Header Image" class="w-full h-screen object-cover">
    
    <!-- Konten Teks -->
    <div class="absolute inset-0 flex items-center justify-center">
        <div class="text-white text-center" style="font-family: 'Merriweather', serif; font-size: 125px;">
            GET LOST &rarr; <br> IN SOUTH JAKARTA.
        </div>
    </div>
</div>

{% endblock content %}
